Solutions/DeploymentSolution/Workflows/Child_Flow-EE8F51F4-365C-F011-BEC1-6045BDEBAEB6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "sh_sharedcommondataserviceforapps_10a8e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ApiLink (sh_ApiLink)": {
          "defaultValue": "ShivamGupta",
          "type": "String",
          "metadata": {
            "schemaName": "sh_ApiLink"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d1dffe68-4b03-4640-b6d6-7bda873e38f1"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Test",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Response": {
          "runAfter": {
            "Compose_-_Environment_Variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "294a4f89-7046-4f7c-afba-9dc66ece3d84"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200
          }
        },
        "Add_a_new_row": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5c4b8ce0-5813-4564-9c13-31fd4ec84a5e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "sh_transferdatas",
              "item/sh_name": "@triggerBody()['text']",
              "item/sh_testcolumn": "@triggerBody()['text_1']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Compose_-_Environment_Variable": {
          "runAfter": {
            "Add_a_new_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0c16788c-cab1-4cf0-85de-d8f9c7779540"
          },
          "type": "Compose",
          "inputs": "@parameters('ApiLink (sh_ApiLink)')"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}