Solutions/DeploymentSolution/Workflows/Parent_Flow-95AD9B74-355C-F011-BEC1-6045BDEBAEB6.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "895b9e25-d7c2-493c-8d7a-545871834580"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Json",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2f27a23b-7b92-4a39-852c-124c7637f8eb"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()['text']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Name": {
                    "type": "string"
                  },
                  "Test": {
                    "type": "string"
                  }
                },
                "required": [
                  "Name",
                  "Test"
                ]
              }
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')",
          "actions": {
            "Run_a_Child_Flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1b8ca22c-b071-43f8-9a5a-a745486a8532"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "ee8f51f4-365c-f011-bec1-6045bdebaeb6"
                },
                "body": {
                  "text": "@items('Apply_to_each')['Name']",
                  "text_1": "@items('Apply_to_each')['Test']"
                }
              }
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bbd9396b-f4e7-4496-be92-f12c988567a3"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}